title: "Chalupa Žacléř"
undertitle: "Accommodation near Prkenny Dul"


sectionDescription: "Cottage description"
sectionDescriptionMain: "Come to us in a new, cozy mountain cabin.Take yourself in the heat of an indoor or outdoor fireplace, which you will certainly appreciate when sitting on the terrace with a beautiful view in the quiet and beautiful Krkonoše countryside under the wooded ridge.Of course is WiFi coverage and in the vicinity of the property, and in the summer do not hesitate to take pleasure in the pool and in the winter you can use the snow covered slope for tobogganing, as well as the fireplace and the electric heater."
sectionDescriptionUndertitleOne: "On the ground floor"
sectionDescriptionUndertitleOneText: "There is an entrance room suitable for storage of bikes or skis, a spacious room divided into a living room (fireplace, TV + SAT, sofa with extra bed, dining table and chair, ironing board with iron), kitchenette linen, built-in fridge, microwave, electric kettle, built-in electric ceramic hob, toaster, coffee maker) and finally bathroom (shower, wash-basin, hairdryer) plus a separate toilet."
sectionDescriptionUndertitleTwo: "Upstairs"
sectionDescriptionUndertitleTwoText: "Upper floor is a central open space with two chairs, 1/2 bedroom (2 single beds), 1/3 bedroom (1x double bed, 1 single bed), cot and bed linen."
sectionDescriptionFamilyBold: "Ideal for families with children"
sectionDescriptionFamily: "- in the winter there is the possibility of bobbing, in the summer games in the garden and in the surroundings, or swimming in the swimming pool. The cottage is in a very quiet part of the village with minimal traffic."
sectionDescriptionSurroundingsTitle: "Surrounding cottages"
sectionDescriptionSurroundings: "The property is a large, well-maintained grassed area. Outdoor covered terrace with seating and grill, on land and fireplace.In hot summer days you will surely use the above-ground pool (5 m diameter, 1.2 m depth), sandbox and children's swing Parking spaces are available for your car. "

iconsDescriptionFaimly: "Ideal for families with children"
iconsDescriptionFireplace: "Indoor and outdoor fireplace"
iconsDescriptionWiFi: "Wi-Fi coverage"
iconsDescriptionPool: "Pool at the cottage"
iconsDescriptionPets: "No Pets"
iconsDescriptionEnergy: "Energy is not included"


sectionSurroundingsTitle: "Location Description"
sectionSurroundingsText: "The town has the opportunity to play tennis or relax in the sauna and salt cave. Indoor swimming pool and summer swimming pool are in nearby Trutnov (15 km), where there is the possibility of other sporting activities. marked cycling trails, cross-country skiing trails in winter, and hiking trails are a matter of course! "
sectionSurroundingsSkiingTitle: "Skiing"
sectionSurroundingsSkiingText: "Not far from the cottage (4 km) there are two ski areas in Prkenny Dul - 7 ski slopes, 4 ski lifts, routes of all difficulty, total length of the routes over 5 km. (20 km), Pec pod Snezkou (25 km), Špindlerův mlýn, ... The hotel is situated in a quiet area. "
sectionSurroundingsTripsTitle: "Tours"
sectionSurroundingsTripsText: "Adrspach-Teplice Rocks 31 km; Janske Lazne - Cerna hora 20 km; Pec pod Snezkou 24 km; Lubawka border crossing 4 km; Božena Němcová - Ratibořice 36 km (castle, Old bleach, mill); Rozkoš Reservoir - windsurfing, sailing, water skiing, water slide, summer cinema, swimming; Zoo-Safari in Dvůr Králové nad Labem 31 km; chateaux in Náchod and Nove Mesto nad Metuji 50 to 60 km; the Karpacz mountain resort in Poland 45 km."

iconsSurroundingsSki: "Two ski lifts in place"
iconsSurroundingsBike: "Many marked cycling routes"
iconsSurroundingsBus: "Regular bus connections from the city"
iconsSurroundingsShop: "Several Local Shops"
iconsSurroundingsRestaurant: "Restaurants in the City"

sectionReservationTitle: "Reservation"
sectionReservationFromTo: "From - To"
sectionReservationPrice: "Price"
sectionReservationOrder: "Order"
sectionReservationOrderRequest: "Reserve"


sectionContactTitle: "Contact"
sectionContactFormName: "Name"
sectionContactFormNamePlaceholder: "Your Name"
sectionContactFormEmail: "Email"
sectionContactFormEmailPlaceholder: "Your Email"
sectionContactFormMessage: "Message"
sectionContactFormMessagePlaceholder: "Your Message"
sectionContactFormSubmit: "Send Message"
